/**
 * toast.component
 */

:host {
  width: auto;
  height: auto;
  color: #fff;
  max-width: 95%;
  min-height: 0;
  line-height: 48px;
  font-size: 24px;
  overflow-wrap: break-word;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  display: table;
  margin: 0;
  padding: 16px 16px;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
}

:host(.toast-top) {
  top: 10%;
  transform: translate(-50%, 0);
}

:host(.toast-center) {
  top: 50%;
  transform: translate(-50%, -50%);
}

:host(.toast-bottom) {
  top: auto;
  bottom: 12%;
  transform: translate(-50%, 0);
}

:host([animation="default"]) {
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: default-create;
}

:host([animation="default"][animation-route="create"]) {
  animation-name: default-create;
}

:host([animation="default"][animation-route="remove"]) {
  animation-name: default-remove;
}

@keyframes default-create {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes default-remove {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
